*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: white;
}

.container{
width: 80%;
margin: 0 auto;
}



h1{
    text-align: center;
    color: red;
    line-height: 100px;
  
}

.text{  
    
    margin:auto 0;
    text-align: center;
    color: black;
    width: fit-content;
    margin-bottom: 20px;  
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.columns{
    border: 2px solid blue;
    width: calc(100% / 3)
}

.card{
   
}

.img-card{
    height: 70px;
    
}


.name{font-size: 20px;    
}

.fleft{
    float: left;
}
.fright{
    float: right;

